.afficheJoueurs .cadreImage img{
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}
 .afficheJoueurs .cadreImage{
    height: 200px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px 70px ;
    border-bottom: solid 2px rgb(197, 197, 197);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;

 }
.afficheJoueurs .pseudo{
    text-align: center;
    padding: 5px 15px;
    font-size: 1.2em;
    font-weight: 500;
    border: solid 1px;
    width: 50%;
    margin: 10px auto;
    border-radius: 5px;
}
.afficheJoueurs{
    width: 340px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 25px 50px;
    border: solid rgb(197, 197, 197) 2px;
    border-radius: 10px;
}
.listeJoueurs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info{
    width: 100%;
}
.identite, .nationalite, .role, .equipe{
    margin: 0;
    padding: 5px 15px;
}

.equipe{
    margin-bottom: 15px;
}